@font-face {
    font-family: 'lato';
    src: url('Lato-Regular.ttf');
}
@font-face {
    font-family: 'lato';
    src: url('Lato-Black.ttf');
}@font-face {
    font-family: 'lato';
    src: url('Lato-Italic.ttf');
}@font-face {
    font-family: 'lato';
    src: url('Lato-Bold.ttf');
}
html{background-color: bisque;}
body{font-family: Lato-Regular ;
.kicker {font-family: 'Lato-Bold';
    font-size:x-large;
margin-top: 5rem;}
.wrapper {
    position: relative;
    background-color: yellow;
    margin: 2rem 2rem 2rem 2rem;
    padding-block: 1rem;
}
h1{ font-family: 'Lato-Bold';}
font-size: 7rem;
}
h1.larger-names {
    font-size: 10rem;
    line-height: 0.6;
    margin-top: 2rem;
}
img.main-image{
    border-top-width: 25%;
}